<div class="jumbotron conatiner">
    <h3>Saved Cards</h3>
    <div class="savedCardInfo shadow" id="saved-card" *ngFor="let item of cardDetails  ;">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-2 card-logo-style">
                
                <img src="{{cardLogo}} " alt="logo" />
            </div>
            <div class="col-md-7 col-sm-7 col-7">
                <label for="cardLastDigits">Card Number : {{item.cardNum}}</label><br>
                <label for="ExpiriesIn">Expires On : &nbsp;&nbsp;{{item.expMonth}}/{{item.expYear}}</label>
            </div>
            <div class="col-md-3 col-sm-3 col-3">
            
                <button id="deleteCard" class="btn btn-danger" style="color: white;" (click)="showDeleteModal(item)">Delete</button>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-5">
            <button class="btn btn-gradient" (click)=showAddCardModal()>+ Add New Card</button>
        </div>
    </div>
    
  

    <!-- Delete Modal -->
    <div id="cardDeleteConfirm" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title">Are you sure?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Do you really want to delete this card? This process cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="deleteCard()">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="addCardModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add new Card</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <label class="col-md-4 control-label" for="cardDNumber" >Number</label>
                        <div class="col-md-6">
                            <input id="cardNum" name="cardNumber" type="text" placeholder="Enter your card Number"
                                autofocus="" class="form-control" required="" [(ngModel)]="cardNum" >

                        </div>
                    </div>
                    <br>

                    <!-- Text input-->
                    <div class="row">
                        <label class="col-md-4 control-label" for="month">Enter expiry</label>
                        <div class="col-md-2">
                            <input id="addMmonth" name="addmonth" type="text" placeholder="MM" class="form-control"
                                required="" [(ngModel)]="expMonth">
                        </div>
                        <div class="col-md-2">
                            <input id="addYear" name="addYear" type="text" placeholder="YY" class="form-control"
                                required="" [(ngModel)]="expYear">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <label class="col-md-4 control-label" for="cvv">Enter cvv</label>
                        <div class="col-md-2">
                            <input id="addCvv" name="addCvv" type="text" placeholder="cvv" class="form-control"
                                required="" [(ngModel)]="cvv">
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <label class="col-md-4 control-label" for="cvv">Enter Card Holder Name</label>
                        <div class="col-md-6">
                            <input id="addName" name="addName" type="text" placeholder="Card Holder Name"
                                class="form-control" required="" [(ngModel)]="cardHolderName">
                        </div>

                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success"  id="addButton" (click)=addCard()
                        data-dismiss="modal">ADD</button>
                </div>
            </div>
        </div>
    </div>
</div>