<div class="container-fluid col-sm-12" style="margin-bottom:20px; ">
<div class="row">
  <img src="./assets/start.jpg" alt="fail" style="width: 100%;">

</div>

</div>

<div class="row col-sm-12">
<div class="col-md-12 textalign col-sm-12">
  <div class="btn-group dropright">
    <button type="button" class="btn btn-primary " >
      Location&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split btn-lg" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <span class="sr-only">Toggle Dropright</span>
    </button>
    <div class="dropdown-menu">
      <!-- Dropdown menu links -->

      <a id="drop1" class="dropdown-item" href="#">Mumbai </a>
      <a id="drop1"  class="dropdown-item" href="#">New Delhi</a>
      <a id="drop1" class="dropdown-item" href="#">Kolkata</a>
      <a id="drop1" class="dropdown-item" href="#">Chennai</a>
      <a id="drop1" class="dropdown-item" href="#">Bangalore</a>
      <a id="drop1" class="dropdown-item" href="#">Hyderabad</a>
      <a id="drop1" class="dropdown-item" href="#">Ahmedabad</a>
      <a id="drop1" class="dropdown-item" href="#">Pune</a>


    </div>
  </div>
</div>
</div>
<div class="textalign col-sm-12">
  <button type="button" class="btn btn-lg btn-col ">Start Your Wonderful Journey
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;></button>
</div>

<div class="colors" >
</div>



<div class="advantage">
  <h3 style="color: cadetblue;">THE DHOOMCAR ADVANTAGE</h3>
  <p>We simplified car rentals, so you can focus on what's important to you.</p>
</div>


<section class="featured-blog mtb-40  col-sm-12" >
  <div class="container ">
    <div class="row ">
      <div class="col-md-4 item col-sm-4">
        <div class="blog-box">
          <img src="assets/fuel.png" alt="blog1" />
          <h3>Fuel Cost Included</h3>
          <p>Don't worry about mileage! All fuel costs are included. If you refill fuel, we'll pay you back! </p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
      <div class="col-md-4 item col-sm-4">
        <div class="blog-box">
          <img src="assets/hiddenfees.png" alt="blog1" />
          <h3>No Hidden Charges</h3>
          <p>Our prices include taxes and insurance.
            What you see is what you really pay! </p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
      <div class="col-md-4 item  col-sm-4">
        <div class="blog-box">
          <img src="assets/packages.png" alt="blog1" />
          <h3>Flexi Pricing Packages</h3>
          <p>One size never fits all! Choose a balance of time and kilometers that works best for you.</p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
      <div class="col-md-4 item col-sm-4">
        <div class="blog-box">
          <img src="assets/anywhere.jpg" alt="blog1" />
          <h3>Go Anywhere</h3>
          <p>Our cars have all-India permits. Just remember to pay state tolls and entry taxes.</p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
      <div class="col-md-4 item col-sm-4">
        <div class="blog-box">
          <img src="assets/assistance.png" alt="blog1" />
          <h3>24x7 Roadside Assistance</h3>
          <p>We have round-the-clock, pan India partners. Help is never far away from you.</p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
      <div class="col-md-4 item col-sm-4">
        <div class="blog-box">
          <img src="assets/damage.png" alt="blog1" />
          <h3>Damage Insurance</h3>
          <p>All your bookings include damage insurance! Drive safe, but don’t worry!</p>
          <a href="detail.html" class="btn btn-info">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div>
    <!-- <div class="colors" >
      </div> -->
  <h3 style="text-align: center ; margin-top: 20px; margin-bottom: 20px; color:white;background-color:dodgerblue;">OFFERS</h3>

  
<div class="carousal-center col-sm-12">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/coupons.png" alt="Chicago" width="1100" height="350">
          </div>
      <div class="carousel-item ">
        <img src="./assets/yesbank.jpg" alt="Los Angeles" width="1100" height="350">
      </div>
      

    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
</div>


<div class="container-fluid " style="background-color:whitesmoke;">


  <div class="advantage" style="margin: 60px;">
    <h3 style="color: cadetblue;margin-top: 55px;">HOW DHOOMCAR WORKS</h3>
    <p style="margin-top: 10px;">Drive yourself to an adventure and back in 5 simple steps</p>
  </div>

<div class="container"></div>
  <div class="row" style="margin-left: 45px; margin-right: 5px;">
    <div class="card" style="width: 14rem ;height:13rem; ">
      <img src="assets/book.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">BOOK</h6>
        <p class="card-text">Search for and book a car on our site!</p>

      </div>
    </div>

    <div class="card" style="width: 14rem ;height:13rem;margin-left: 7px;">
      <img src="assets/document-upload.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">UPLOAD LICENSE</h6>
        <p class="card-text">Upload your driver’s license, and pay a small security deposit.</p>

      </div>
    </div>

    <div class="card" style="width: 14rem ;height:13rem;margin-left: 7px;">
      <img src="assets/unlock.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">UNLOCK</h6>
        <p class="card-text">We SMS your car details 20 minutes before pickup. Unlock it via the Zoomcar app.</p>

      </div>
    </div>

    <div class="card" style="width: 14rem ;height:13rem;margin-left: 7px;">
      <img src="assets/drive1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">ZOOM</h6>
        <p class="card-text">Fill the start checklist in the Zoomcar app. Grab the keys from the glove-box and drive.
        </p>

      </div>
    </div>

    <div class="card" style="width: 14rem ;height:13rem;margin-left: 7px;">
      <img src="assets/return1.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h6 class="card-title">RETURN</h6>
        <p class="card-text">Return the car to the same location and fill the end checklist to end your trip.</p>

      </div>
    </div>



  </div>
  <div class="textalign" >
  <button type="button" class="btn btn-lg btn-success">SignUp</button>
</div>
</div>
