<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-th"></span>
                        Change password
                    </h3>
                    <br>
                </div>
                <div class="panel-body">
                    <div class="row" name="editCardForm">
                        <div class="col-12 col-sm-5 col-md-5 separator social-login-box"> <br>
                            <img alt="" class="img-thumbnail" src="/assets/passwordKey.png">
                        </div>
                        <div style="margin-top:80px;" class="col-12 col-sm-5 col-md-5 login-box">
                            <div class="form-group">
                                <div>
                                    <div class="input-group">


                                        <input class="form-control" type="password" id="currentPassword"
                                            placeholder="Enter New Password" required="" autofocus=""
                                            [(ngModel)]='user.newPassword' >

                                            
                                        <span class="text-danger">*</span>
                                    </div>
                                   
                                    <br>
                                    <button class="btn popup-btn bg-success form-control"  id="saveBtn"
                                        (click)=passwordUpdateHandler()>save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="successModal" role="dialog" aria-labelledby="exampleModalLongTitle"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="/assets/nutmeg.gif" alt="Reset Success" class="modal-image"><br>
                                    <h6>Password Reset SuccessFully</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

         
        </div>
    </div>