<button
  type="button"
  id="openModal1"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#myModal"
  hidden="true"
>
  Open modal
</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->

    <div class="modal-content">
      <div
        class="modal-header"
        style="background-color:midnightblue ; color: white;"
      >
        <!-- <div class="modal-header" > -->
        <h4 class="modal-title">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; LOGIN
        </h4>
        <button
          type="button"
          class="close"
          style="color: white;"
          data-dismiss="modal"
        >
          &times;
        </button>
      </div>
      <div>
        <br />
        <h6 style="text-align: center;">Welcome To Enet'Car</h6>
      </div>
      <form style="width: 90%;margin-left: 5%;">
        <div class="form-group">
          <span id="emailText" style="font-size: 12px;"
            >Email address</span
          >
          <input
            type="email"
            class="form-control"
            id="loginEmail"
            name = "email"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            [(ngModel)]="validMail"
            (input)="validateLoginEmail()"
          />
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->

          <span id="passwordText" style="font-size: 12px;"
            >Password
          </span>
          <input
            type="password"
            class="form-control"
            id="loginPassword"
            aria-describedby="emailHelp"
            placeholder="Enter password"
            (input)="validatePassword()"
          />
          <br />
          <button
            type="button"
            class="btn btn-success"
            style="width: 100%;"
            [disabled]="!isLoginvalid && !isLoginPasswordValid"
            id="signInBtn"
            (click)="userLogin()"
          >
            Login
          </button>
          <br /><br />
         
          <hr />
          <div class="text-center" style="font-size: 14px;">
            New to Enet'Car?
          </div>
          <br />
          <div class="text-center">
            <button
              type="button"
              class="btn btn-success"
              data-toggle="modal"
              data-target="#signUpModal"
              (click)="closeLoginModal()"
            >
              Sign Up
            </button>
            <br />
            <br />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Sign up Modal Starts-->
<div
  class="modal fade"
  id="signUpModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLongTitle">
          <div class="text-center">Enter Details to Sign Up</div>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #signUpForm="ngForm">
          <div class="form-group">
            <span style="font-size: 12px;">Email address</span>
            <input
              id="signUpEmail"
              type="email"
              placeholder="Enter email"
              class="form-control"
              required
              [(ngModel)]="signUpEmail"
              name="email"
              #mail="ngModel"
              (input)="validateEmail()"
            />
            <div
              [hidden]="mail.valid || mail.pristine"
              class="alert alert-danger"
            >
              Email is required
            </div>
            <div [hidden]="isEmailValid" class="alert alert-danger">
              Invalid Email
            </div>
            <div *ngIf="mail.valid || mail.pristine"><br /></div>
            <span style="font-size: 12px;">Full Name</span>
            <input
              id="signUpName"
              type="text"
              placeholder="Enter name"
              class="form-control"
              required
              [(ngModel)]="signUpName"
              name="userName"
              #userName="ngModel"
            />
            <div
              [hidden]="userName.valid || userName.pristine"
              class="alert alert-danger"
            >
              Name is required
            </div>
            <div *ngIf="userName.valid || userName.pristine"><br /></div>
            <span style="font-size: 12px;">Mobile Number</span>
            <input
              id="signUpMobile"
              type="text"
              placeholder="Enter mobile"
              class="form-control"
              required
              [(ngModel)]="signUpMobile"
              name="mobile"
              #userMobile="ngModel"
            />
            <div
              [hidden]="userMobile.valid || userMobile.pristine"
              class="alert alert-danger"
            >
              Mobile is required
            </div>
            <div *ngIf="userMobile.valid || userMobile.pristine"><br /></div>
            <span style="font-size: 12px;">Password</span>
            <input
              id="signUpPassword"
              type="password"
              placeholder="Enter password"
              class="form-control"
              required
              [(ngModel)]="signUpPassword"
              name="password"
              #userPassword="ngModel"
            />
            <div
              [hidden]="userPassword.valid || userPassword.pristine"
              class="alert alert-danger"
            >
              Please enter password
            </div>
            <div *ngIf="userPassword.valid || userPassword.pristine">
              <br />
            </div>

            <span style="font-size: 12px;">Re-Enter Password</span>
            <input
              id="signUpPasswordEnter"
              type="password"
              placeholder="Re-Enter password"
              class="form-control"
              required
              [(ngModel)]="signUpRePassword"
              name="rePassword"
              #userRePassword="ngModel"
            />
            <div
              [hidden]="userRePassword.valid || userRePassword.pristine"
              class="alert alert-danger"
            >
              Please Re-enter password
            </div>
            <div
              [hidden]="signUpPassword == signUpRePassword"
              class="alert alert-danger"
            >
              Passwords do not match
            </div>
          </div>

         
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-success"
          (click)="createNewUser()"
          [disabled]="
            !signUpForm.form.valid ||
            !(signUpPassword == signUpRePassword) ||
            !isEmailValid
          "
        >
          Proceed
        </button>
      </div>
    </div>
  </div>
</div>
<!--Sign Up Modal Ends-->
<!--Registration message modal-->
<div class="modal" id="SignUpMsg" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up Response</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="result; else elseBlockReg">
          <p style="font-family:Helvetica Neue;">
            Sign Up Successful. Log in to continue
          </p>
        </div>
        <ng-template #elseBlockReg style="font-family:Helvetica Neue;"
          >User Already Exists! Try Using Different E-Mail Id</ng-template
        >
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          (click)="openLoginModal()"
        >
          Login
        </button>
        <div *ngIf="result; else signUpButton">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
        <ng-template #signUpButton>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            (click)="openSignupModal()"
          >
            Sign Up
          </button></ng-template
        >
      </div>
    </div>
  </div>
</div>
<!--registration message modal ends-->
