<footer>
    <div class="footer-top  " id="footer">
      <div class="container-fluid ">
        <div class="row">
          <div class="col-md-3 footer-about wow fadeInUp ">
            <div class="d-flex justify-content-center"><img class="logo-footer d-flex justify-content-center" 
              src="assets/741407.svg" alt="logo-footer" data-at2x="assets/img/logo.png"></div>
            
            <p>
              {{'footer.p_8'|translate}}
            
                </div>
          <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
            <div class="chip chip-md" style="margin-bottom: 30px;" >
              <img src="assets/1.svg" alt="Person" width="96" height="96">
              Contacts                
            </div>
                <p><i class="fas fa-map-marker-alt"></i> Enet'Car location : Tunisia</p>
  
                <p><i class="fas fa-phone"></i>  Phone: +21656552964
                </p>
                <p><i class="fas fa-envelope"></i>Email: enetcar2021@gmail.com </p>
                <p><i class="fab fa-skype"></i> Skype: enetcar2021</p>
                </div>
                <div class="col-md-4 footer-links wow fadeInUp">
                  <div class="row">
                    <div class="col">
                      <div class="chip chip" style="margin-bottom: 30px;" >
                        <img src="assets/2.svg" alt="Person" width="96" height="96">
                        {{'footer.h_25'|translate}}                
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <p><a class="scroll-link" href="#home">{{'footer.p_30'|translate}}</a></p>
                      <p><a href="#">{{'footer.p_31'|translate}}</a></p>
                      <p><a href="#about">{{'footer.p_32'|translate}}</a></p>                        
                    </div>
                    <div class="col-md-6">
                      <p> <a (click)="translate.use('en')"   style="cursor: pointer">English</a></p>
                      <p><a (click)="translate.use('fr')"  style="cursor: pointer">French</a></p>
                      <p> <a (click)="translate.use('ar')" style="cursor:pointer" >عربي</a></p>
                    </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
             <div class="col-md-6 footer-copyright">
                  &copy;Let's drive
                </div>
             <div class="col-md-6 footer-social">
                  <a href="#"><i class="fab fa-facebook-f"></i></a> 
        <a href="#"><i class="fab fa-twitter"></i></a> 
        <a href="#"><i class="fab fa-google-plus-g"></i></a> 
        <a href="#"><i class="fab fa-instagram"></i></a> 
        <a href="#"><i class="fab fa-pinterest"></i></a>
                </div>
           </div>
      </div>
    </div>
  </footer>